<!DOCTYPE html>
<html lang="en">

<head>
    {{!-- header links from partials --}}
    {{>headerLinks}}
</head>

<body>

    {{!-- navbar from partials folder --}}
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="main_content">
                    <form action="" class="temp_form">
                        <input type="text" id="cityName" placeholder="Enter your City Name" autocomplete="off">
                        <input type="submit" value="search" id="submitBtn">
                    </form>
                </div>
                <div class="tempInformation">
                    <div class="top_layer">
                        <p id="day">Tuesday</p>
                        <p id="date">8 FEB</p>
                    </div>
                    <div class="main_layer">
                        <p>

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- footer from partials-->
    {{>footer}}
</body>

</html>