body {
  padding: 0;
  margin: 0;
}
.title {
  position: fixed;
  top: 7px;
  color: #ddd;
  font-family: sans-serif;
  width: 100%;
  text-align: center;
  opacity: 0;
}
.demo {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c1c1e;
}
#globe-3d,
#globe-2d-overlay,
#globe-popup-overlay,
.globe-popup {
  display: block;
  position: absolute;
}
#globe-2d-overlay,
#globe-popup-overlay {
  pointer-events: none;
}
.globe-popup-overlay {
  width: 100%;
  height: 100%;
  opacity: 0;
}
.globe-popup {
  top: 0;
  left: 0;
  background-color: rgba(75, 192, 200, 0.9);
  opacity: 0;
  color: #111;
  font-family: sans-serif;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 15px;
  border-radius: 3px;
}
