body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Style for the fixed re-render widget */
.rerender-widget {
  position: fixed; /* Fixed position */
  top: 10px; /* Distance from the top of the screen */
  right: 10px; /* Distance from the right of the screen */
  background-color: #333; /* Dark background */
  color: white; /* White text */
  padding: 10px; /* Padding around the text */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Shadow for a widget effect */
  z-index: 1000; /* Ensure it appears above other content */
}

button {
  padding: 5px 10px 5px 10px;
  margin: 1px 5px 1px 5px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
