<%- include('./layouts/header') %>
    <h1 class="heading"><span class="goback" onclick="window.history.back()"></span>Features</h1>

    <div class="mx-24 bg-green-200 text-justify px-6">
        <ul class='marker:text-green list-outside list-disc ml-6'>
            <li>Passport Js Local Authentication</li>
            <li>Only admin can change the role of others but not the role of himself without other admin</li>
            <li>Take the user back to exact route which he requested for before login - using connect-ensure-login
                package</li>
            <li>Persistent Session after server reboots - using connect-mongo package</li>
            <li>Flash Message - using connect-flash package</li>
            <li>Customized Error Page</li>
        </ul>

    </div>

    <%- include('./layouts/footer') %>