@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

* {
    margin : 0;
    padding : 0;
    box-sizing : border-box;
    font-family : 'Roboto', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #f8e7af;
    display: grid;
    place-items: center;
}

form {
    background-color: #fab1a0;
    padding: 80px;
    width: 50%;
    margin: 100px auto;
    text-align: center;
    -webkit-box-shadow: 0px 0px 10px 0px #777;
    -moz-box-shadow: 0px 0px 10px 0px #777;
    box-shadow: 0px 0px 10px 0px #777;
}

#tempCalc label {
    font-size: 30px;
}

#temp{
    border: none;
    padding: 10px;
    height: 40px;
    width: 100px;
    font-size: 20px;
    margin-top: 20px;
}

#temp_diff {
    height: 40px;
    border: none;
    margin-top: 20px;
    font-size: 15px;
    vertical-align: top;
}

[type= submit] {
    background-color: black;
    color: white;
    border: none;
    height: 40px;
    width: 100px;
    font-size: 20px;
    margin-top: 20px;
}

#resultContainer {
    font-size: 35px;
}