@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --myfont: 'Roboto', sans-serif;
    --my-btn-font: 'Roboto', sans-serif;
    /* --lg-lightcolor: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12); */
    --lg-color: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

body {
    font-family: var(--myfont);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://images.unsplash.com/photo-1611162617213-7d7a39e9b1d7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80);
}

.container{
    width: calc(100vw - 65vw);
    max-width: 100%
    background-color: #232f3e;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    -webkit-border-radius: 10px;
}

.form{
    padding: 40px;
    background-color: #fff;
}

.form-control{
    margin-bottom: 30px;
    position: relative;
}

.form-control label{
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input{
    width: 100%;
    border: 2px solid #f0f0f0;
    border-radius: 5px;
    display: block;
    font-family: var(--myfont);
    font-size: 14px;
    padding: 12px;
}

.form-control input:focus{
    outline: none;
    border-coor: 2px solid #777;
}

.form-control.success input{
    border-color: #2ecc71;
}

.form-control.error input{
    border-color: #e74c3c;
}

.form-control i{
    position: absolute;
    right: 12px;
    top: 38px;
    visibility: hidden;
}

.form-control small{
    color: #e74c3c;
    position: absolute;
    left: 0;
    visibility: hidden;
}

.form-control.error small{
    visibility: visible;
}

.form-control.success i.fa-circle-check{
    visibility: visible;
    color: #2ecc71;
}

.form-control.error i.fa-exclamation{
    visibility: visible;
    color: #e74c3c;
}

.header{
    background: var(--lg-color);
    padding: 30px 0;
}

.header h2{
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-family: var(--my-btn-font);
    text-align: center;
    text-transform: uppercase;
}

.form .btn{
    background: var(--lg-color);
    color: #fff;
    font-size: 16px;
    font-family: var(--my-btn-font);
    font-weight: bold;
    padding: 15px 0px;
    border-radius: 6px;
    border: none;
    outline: none;
    display: block;
    transition: all 1s ease;
    margin-top: 20px;
    text-transform: uppercase;
    width: 100%;
}

@media(max-width: 998px){
    .container{
        width: calc(100vw - 35vw);
        max-width: 100%;
    }
}

