@import url("https://fonts.googleapis.com/css2?family=Anek+Latin:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Inline&family=DotGothic16&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
nav {
  font-family: "Space Mono", monospace;
}

nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  height: 65px;
  background-color: black;
  color: white;
}

nav ul li {
  padding: 0 12px;
}

.brand {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 1.3rem;
}
.brand img {
  width: 44px;
  padding: 0 8px;
}

.mainDiv {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url("/img/landscape.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.centerDiv {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

h1 {
  font-family: "Bungee Inline", cursive;
  text-transform: capitalize;
  font-size: 2.1rem;
  text-shadow: 1px 2px 5px #2980b9;
  color: azure;
}

h2 {
  font-family: "aek latin", sans-serif;
  color: whitesmoke;
  font-size: 1rem;
}

textarea {
  border-radius: 10px 10px 0 0;
  color: white;
  font-size: 1.3rem;
  border: 0.1px solid #34495e;
  background-color: transparent;
  padding: 10px;
  font-family: "aek latin", sans-serif;
}
