<footer class="text-center bg-gray-900 text-white">
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 By 
        <a class="text-white" href="https://github.com/S4nfs">S4nfs with NodeJs, Tailwind & Chai</a>
    </div>
</footer>
</main>
</body>

</html>